<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mini Hack 1</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsforce/1.7.1/jsforce.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="src/js/slds-vue-library.min.js"></script>

    <!-- ONLY IN DEVELOPMENT -->
    <script src="src/js/ApiWrapper.js"></script>

    <link rel="stylesheet" href="src/css/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system-vf.min.css"></link>
    <link rel="stylesheet" href="src/css/c3.min.css"></link>

    <script type="text/template" id="appTemplate">
      <div class="slds-p-around--none slds-m-around--none">
        <ds-spinner></ds-spinner>
        <ds-notification></ds-notification>
        <ds-page-header title="Ricerca Account" subtitle="Estrema" icon="standard-account">
          <div slot="right-buttons">
            <ds-button value="Filtra risultati"
              @click="showFiltriAvanzati = !showFiltriAvanzati"
              :icon-right="showFiltriAvanzati ? 'utility-check' : ''"
              :btn-style="showFiltriAvanzati ? 'brand' : 'neutral'"
              v-if="results.length > 0"
            ></ds-button>
            <ds-input type="text"
              v-model="account.Name"
              style="display: inline-block; width: 300px"
              placeholder="Cerca..."
              @onEnterPress="search"
            ></ds-input>
            <ds-button value="Cerca" @click="search" btnStyle="brand"></ds-button>
          </div>
        </ds-page-header>
        <div class="slds-grid">
          <div :class="['slds-size--' + (paginator.paginatedData.length > 0 ? '8' : '12') + '-of-12']">
            <ds-table-decorator :paginator="paginator">
              <table>
                <thead>
                  <tr>
                    <th value="Name">Nome</th>
                    <th value="Website">Website</th>
                    <th value="Type">Type</th>
                    <th value="Industry">Industry</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="paginator.paginatedData.length === 0">
                    <td colspan="4" key="emptyEl">Nessun elemento</td>
                  </tr>
                  <tr v-else v-for="result in paginator.paginatedData" :key="result.Id">
                    <td><div class="slds-truncate" :title="result.Name">{{result.Name}}</div></td>
                    <td><div class="slds-truncate">
                      <a :href="result.Website" target="_blank" v-if="result.Website">{{result.Website}}</a>
                    </div></td>
                    <td><div class="slds-truncate">{{result.Type}}</div></td>
                    <td><div class="slds-truncate">{{result.Industry}}</div></td>
                  </tr>
                </tbody>
              </table>
            </ds-table-decorator>
            <div class="slds-p-around--small">
              {{results.length}} Elementi * Pagina {{paginator.pageNumber}} di {{paginator.numPages}}
              <div class="slds-float--right">
                <ds-button value="<"
                  @click="paginator.previousPage"
                  v-if="paginator.numPages > 1"
                  :disabled="paginator.pageNumber === 1"
                ></ds-button>
                <ds-button value=">"
                  @click="paginator.nextPage"
                  v-if="paginator.numPages > 1"
                  :disabled="paginator.pageNumber >= paginator.numPages"
                ></ds-button>
              </div>
            </div>
          </div>
          <div class="slds-size--4-of-12" v-if="paginator.paginatedData.length > 0">
            <div class="slds-p-around--large" v-if="showFiltriAvanzati">
              <ds-form type="compound">
                <ds-form-section title="Filtri" :columns="2">
                  <ds-input
                    type="select"
                    v-model="account.Type"
                    label="Type"
                    :options="optionsType"
                    placeholder="---Tutti---"
                  ></ds-input>
                  <ds-input
                    type="select"
                    v-model="account.Industry"
                    label="Industry"
                    :options="optionsIndustry"
                    placeholder="---Tutti---"
                  ></ds-input>
                </ds-form-section>
              </ds-form>
              <ds-button
                v-if="account.Type || account.Industry"
                value="Cancella filtri"
                icon-right="utility-close"
                @click="account.Type = '', account.Industry = ''">
              </ds-button>
            </div>
            <div style="text-align: center">
              <ds-chart
                title="Account per Industry"
                type="donut"
                :chartData="industryPieData"
                :style="{width: '300px', height: '300px', display: 'inline-block'}"
              ></ds-chart>
            </div>
            <div style="text-align: center">
              <ds-chart
                title="Account per Type"
                type="bar"
                :chartData="typeBarData"
                :style="{width: '300px', height: '250px', display: 'inline-block'}"
              ></ds-chart>
            </div>
          </div>
        </div>
      </div>
    </script>

  </head>
  <body class="tlnxt">
    <div id="app">
      <button onclick="jsforce.browser.login()">Login</button>
    </div>
    <script>
      /* REPLACE WITH CONTROLLERNAME IN PRODUCTION */
      var api = ApiWrapper

      jsforce.browser.init({
        loginUrl: 'https://login.salesforce.com',
        clientId: '3MVG9od6vNol.eBhIsMWxacGU.2ZfFpN4GO6ezKQaPvwMvj.Vh9Yfr4rJtcGeGa29LHvuO4mwBPCsg_UUEUuI',
        redirectUri: 'https://localhost:8080/success'
      })

      jsforce.browser.on('connect', function (conn) {
        api.setConnection(conn)
        Slds.registerComponents()

        new Vue({
          el: '#app',
          template: '#appTemplate',
          data: {
            account: {
              Name: '',
              Website: '',
              Industry: '',
              Type: ''
            },
            results: [],
            showFiltriAvanzati: false,
            paginator: new Slds.PaginatorService(),
            searchDirty: false
          },
          methods: {
            search: function() {
              this.block()
              var me = this
              api.search(this.account.Name, function(result, event) {
                if(!event.status) {
                  me.notify({
                    title: 'Errore',
                    timeout: 5000,
                    closeButton: true,
                    type: 'toast',
                    style: 'error',
                    summary: event.message
                  })
                } else {
                  if(me.searchDirty) {
                    me.account.Industry = ''
                    me.account.Type = ''
                    me.paginator.pageNumber = 1
                  }
                  me.searchDirty = false
                  me.results = result
                }

                me.unblock()
              })
            }
          },
          computed: {
            filteredResults: function() {
              var me = this;
              if(!this.account.Type && !this.account.Industry) return this.results;
              return _.filter(this.results, function(item) {
                return (!me.account.Type || item.Type === me.account.Type) &&
                  (!me.account.Industry || item.Industry === me.account.Industry)
              });
            },
            optionsIndustry: function() {
              var me = this
              return _(this.results).filter(function(o) {
                return !me.account.Type || o.Type === me.account.Type
              }).map('Industry').uniq().compact().value().sort()
            },
            optionsType: function() {
              var me = this
              return _(this.results).filter(function(o) {
                return !me.account.Industry || o.Industry === me.account.Industry
              }).map('Type').uniq().compact().value().sort()
            },
            industryPieData: function() {
              return _(this.filteredResults).countBy('Industry').toPairs().value()
            },
            typeBarData: function() {
              return _(this.filteredResults).countBy('Type').toPairs().value()
            }
          },
          watch: {
            filteredResults: function(newVal) {
              this.paginator.items = newVal
            },
            'account.Name': function(newVal) {
              this.searchDirty = true
            }
          },
          created: function() {
            this.setSvgPath('src/css/salesforce-lightning-design-system/assets')
            this.paginator.pageSize = 15
          }
        })
      })
    </script>
  </body>
</html>